@model List<Bloodfamily.Models.Donor>
@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}


<form  method="post" action='/Donors/message'>
    @foreach (var s in Model)
    {
        <table style=" border-collapse: separate; border-spacing: 0 1em; width: 800px; margin-left: 300px;">
            <tr>
                <td width="100"><img src="~/Images/@s.Image" height="120" width="120" /></td>
                <td width="60px">Name:<br>Email:<br>Phone#:<br>DOB:<br>Blood:<br>Adress:<br>LastDonate:</td>
                <td style="margin-top:0">@s.FullName<br>@s.Email<br>@s.Mobile<br>@s.Age<br>@s.Bloodgroup<br>@s.Adress<br>@s.Lastdonated</td>
                <td><button type="submit" name="id" value="@s.UserName" id="btn" class="btn btn-primary">Message</button></td>
            </tr>

        </table>
    }

 </form>
