@model List<Bloodfamily.Models.Donor>
@{
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
@foreach(var s in Model)
{
<div class="row">
    <div class="col-md-6">
        <img src="~/Images/su.jpg" height="300" width="350" style="margin-top:100px; margin-left:200px;" />
        <font face="Times New Roman"><h1 style="color: red; margin-left: 200px;">Join The Blood Family</h1></font>
    </div>
    
    <font face="Times New Roman"><h1 style="color: red;">Enter Values You want to update</h1></font>
    <div class="col-md-6">

        <table width="200" height="1">
            <tr>
                <td width="100" height="1">
                    <p align="left">
                        <strong>
                            <font face="Verdana, Arial, Helvetica" size="2">All Fields marked with</font><font color="#ff0000" size="4" face="Verdana, Arial, Helvetica">*</font><font face="Verdana, Arial, Helvetica" size="2"> are required </font>
                            <a href="welcome.asp">
                            </a>
                        </strong>
                </td>
            </tr>
        </table>

        <form action="/Donors/Updated" method="post" enctype="multipart/form-data">
            <img src="~/Images/@s.Image" height="150" width="150" /><br /><input type="file" name="Images" />
            <table style=" border-collapse: separate; border-spacing: 0 1em; width:100px; height:6px">
                <tbody>
                    <tr>
                        <td>
                            <font face="Times New Roman">
                                <h4 style="color:red;">Personel Info:</h4>
                            </font>
                        </td>
                    </tr>

                    <tr>
                        <td width=" 100" bgcolor="#BFF2EB" height="19">
                            <font color="red">*</font>Full Name:
                        </td>
                        <td width="100" height="19">
                            <input maxlength="50" name="name" value="@s.FullName">
                        </td>
                    </tr>
                    <tr>
                        <td width="100" bgcolor="#BFF2EB" height="19"><font color="red">*</font>Age:</td>
                        <td width="100" height="19">
                            <input type="text" name="age" value="@s.Age" onblur="txtAge_onblur()" maxlength="3">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#BFF2EB" height="26"><font color="red">*</font>Sex</td>
                        <td colspan="6" height="26">
                            <input maxlength="50" name="Sex" value="@s.Sex">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#BFF2EB" height="1">Occupation:</td>
                        <td height="1"><input maxlength="50" name="ocu" value="@s.Occupation"> </td>

                    </tr>
                    <tr>
                        <td>
                            <font face="Times New Roman">
                                <h4 style="color:red;">Contact Info:</h4>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#BFF2EB" height="26"><font color="red">*</font>Address:</td>
                        <td height="26">
                            <input maxlength="150" name="add" value="@s.Adress">
                        </td>
                    </tr>



                    <tr>
                        <td bgcolor="#BFF2EB" height="25"><p>Telephone No.:</td>
                        <td height="25">

                            <p>
                                <input maxlength="18" name="phone" value="@s.Telephone">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#BFF2EB" height="25"><p>Mobile.:</td>
                        <td>

                            <p>
                                <input maxlength="18" name="mphone" value="@s.Mobile">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#BFF2EB" height="25">E-mail:</td>
                        <td colspan="6" height="25">

                            <p>
                                <input maxlength="30" name="email" value="@s.Email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font face="Times New Roman">
                                <h4 style="color:red;">Blood Info:</h4>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#BFF2EB" align="left" height="1">
                            <font color="red">*</font>Your Blood Group:
                        </td>
                        <td height="1">
                            <p>
                                <input maxlength="50" name="bg" value="@s.Bloodgroup">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#BFF2EB" height="1">Last Donated: (dd/mm/yyyy)</td>
                        <td>

                            <p>
                                <input maxlength="50" name="last_don" value="@s.Lastdonated">

                        </td>
                    </tr>
                    <tr>
                        <td>

                            <p>
                                <input type="submit" value="Update" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
}